* {box-sizing:border-box;}
*:visited {color: #7D7D7D}

body {background-color: #CCC;}


html, body, #map-canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

p {
    font-size: 12px;
    margin: 5px 0;
}

strong {
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
   /* margin: 15px 15px;*/
    font-family: helvetica, sans-serif;
}

a {
    text-decoration: none;
}

hr {
    margin: 10px 0 0 0;
    color: orange;
    border-color: orange;
}

#input {
    margin: 15px 0 5px 20px;
    width: 83%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}

#search-container {
    position: absolute;
    z-index: 3; 
}

#search-nav {
    width: 280px;
    max-height: 549px;
    background-color: rgba(256,256,256,.9);
    border: solid 2px orange;
}

#scroller {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

li {
    padding: 20px 0 15px 15px;
}
li:hover {
    background-color: #7D7D7D;
    color: white;
}

#arrow {
    height: 50px;
    width: 50px;
}

#arrow-container {
    background-color: orange;
    opacity: 0.9;
    max-width: 50px;
    border-radius: 50%;
}

.reset-container {
    position: absolute;
    z-index: 2;
    width: 100%;
}
#reset,
#reset:focus {
    display: block;
    height: 35px;
    width: auto;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(1, 1, 1, 0.5);
    font-size: 12px;
    color: white;
    outline: none;
}

.web-links {
    color: blue;
}
